.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;

  .sex-wrapper {
    display: flex;
    gap: 40px;
  }

  .user-parameters::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .training-goal-wrapper {
    display: flex;
    gap: 20px;

    .goal {
      display: flex;
      gap: 20px;
    }
  }
}
